<p id="notice"><%= notice %></p>

<% @trips.each do |trip| %>
  <div class="card shadow">
    <div class="card-body">
      <div class="container-fluid">
        <div class="col-sm-2" onclick="simulateCardClick('<%= trip_path(trip) %>')">
          Name: <%= trip.name %>
        </div>
        <div class="col-sm-2">
          Description: <%= trip.description %>
        </div>
        <div class="col-sm-2">
          Location: <%= trip.location %>
        </div>
        <div class="col-sm-2">
          Departure Date: <%= trip.departure_date %>
        </div>
        <div class="col-sm-2">
          Return Date: <%= trip.return_date %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @trips, renderer: BootstrapPagination::Rails %>
