<main class="page-content">
  
  <div class="trip-details-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 detail">
          <h6 class="title fat-text"><%= @trip.name %></h6>
          <p class="description"><%= @trip.description %></p>
        </div>
        <div class="col-4 col-md-2 detail">
          <h6 class="header">Location:</h6>
          <p class="description"><%= @trip.location %></p>
        </div>
        <div class="col-4 col-md-2 detail">
          <h6 class="header">Dates:</h6>
          <p class="description">Dept:&nbsp;<%= @trip.departure_date %><br>Return:&nbsp;<%= @trip.return_date %></p>
        </div>
        <div class="col-4 col-md-2 detail">
          <h6 class="header">Budget:</h6>
          <p class="description fat-text">$300</p>
        </div>
      </div>
    </div>
  </div>



  <section class="container">
    <p id="notice"><%= notice %></p>
    
    <%= render "budget_items/index" %>
    <%= render "activities/index" %>

    <br/>
    <br/>

    <section class="paginator container d-flex justify-content-center">
      <%= link_to 'Edit Trip', edit_trip_path(@trip) %>&nbsp;|&nbsp;
      <%= link_to 'Delete Trip', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>
    </section>
 </section>
</main>
