<h3 class="section-title">Budget Items</h3>
<ul class="trip-list trip-sub-items">
    <% if @budget_items.each do |budget_item| %>
      <li class="trip-card">
        <div class="card-body row d-flex align-items-center">
          <div class="col-2 detail">
            <h6 class="header">Budget Item</h6>
            <p class="description"><%= budget_item.item %></p>
          </div>
          <div class="col-3 detail">
            <h6 class="header">Description</h6>
            <p class="description"><%= budget_item.description %></p>
          </div>
          <div class="col-3 detail">
            <h6 class="header">Cost</h6>
            <p class="description"><%= budget_item.cost %></p>
          </div>
          <div class="col-4 d-flex justify-content-between">
            <%= link_to 'Edit', edit_trip_budget_item_path(@trip, budget_item) %>
            <%= link_to 'Delete', trip_budget_item_path(@trip, budget_item), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </li>
    <% end.empty? %>
      <h6 class="title fat-text">No budget item here. Create a new budget item</h6>
    <% end %>
</ul>
<%= link_to 'New Budget Item', new_trip_budget_item_path(@trip) %>
