<%= form_with(model: activity, url: url, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_message">
      <h2 class="section-title error-header"><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li class="error-li"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :activity_title, class: "form-control", placeholder: "Enter activity title" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
