<p id="notice"><%= notice %></p>

<h3 class="section-title">Activities</h3>
<ul class="trip-list trip-sub-items">
    <% @activities.each do |activity| %>
      <li class="trip-card">
        <div class="card-body row d-flex align-items-center">
          <div class="col-4 detail">
            <h6 class="header">Title</h6>
            <p class="description"><%= activity.title %></p>
          </div>
          <div class="col-4 detail">
            <h6 class="header">Status</h6>
            <p class="description"><%= activity.status %></p>
          </div>
          <div class="col-4 d-flex justify-content-between">
            <%= link_to 'Show', trip_activity_path(@trip, activity) %>
            <%= link_to 'Edit', edit_trip_activity_path(@trip, activity) %>
            <%= link_to 'Destroy', trip_activity_path(@trip, activity), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </li>
    <% end %>
</ul>

<%= link_to 'New Activity', new_trip_activity_path(@trip) %>
